@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* Light Theme */

:root[color-theme="light"] {
  --body-bg: hsl(0, 0%, 100%);
  --top-bg: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --text-primary: hsl(230, 17%, 14%);
  --text-secondary: hsl(228, 12%, 44%);
  --toggle: hsl(230, 22%, 74%);
}

/* Dark theme */

:root[color-mode="dark"] {
  --body-bg: hsl(230, 17%, 14%);
  --top-bg: hsl(232, 19%, 15%);
  --card-bg: hsl(228, 28%, 20%);
  --text-primary: hsl(228, 34%, 66%);
  --text-secondary: hsl(0, 0%, 100%);
  --toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
}

$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);
$fb-blue: hsl(208, 92%, 53%);
$tw-blue: hsl(203, 89%, 53%);
$insta-colors: linear-gradient(to right, #fdc468 0%, #df4996 100%);
$yt-red: hsl(348, 97%, 39%);

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // color: black;
  font-weight: 700;
}

p {
  font-size: 12px;
  line-height: 15px;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

$tablet: 768px;
$desktop: 1024px;
